.pageHeading {
  font-family: Nunito;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.25px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
